body {
    margin: 0% auto;
}
.container {
    min-height: 100vh;
    background-color: #2e2e2e4f;
    display: flex;
    flex-direction: column;  
}

.header {
    display: flex;
    background-color: #2E2E2E;
    align-items: center;
    justify-content: space-between;
    max-height: 130px;
    border: 1px solid white;
}

#right {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

#left {
    padding: 10px 25px;
}

.content {
    min-height: 800px;
    border: 1px solid black;
}

a {
    color: white;
}

h2 {
    padding-right: 25px;
    font-family:fantasy;
    font-weight:800;
}

h1 {
    color: white;
    font-family: fantasy;
    font-weight: 1000;
    font-size: 60px;
}

