* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
    /*min-width: 1440px;*/
} 



.container {
    width: 100%;
    height: 100%;
    background-color: #2e2e2e4f;
    padding: 1% 1%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    
}

#top {
    display: flex;
    background-color: #2E2E2E;
    align-items: center;
    justify-content: space-between;
    flex-basis: 5%;
}

#bottom {
    display: flex;
    background-color: #222222;
    flex-basis: 95%;
    
}

img {
    height: auto;
    width: auto;
    max-width: 70px;
}

.grid-item {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

#left, #right {
    flex-basis: 10%;
    padding: 20px;
}

#content {
    padding: 20px;
}

a {
    color:  white;
    padding-right: 75px;
    font-family:fantasy;
    font-weight:800;
}

h1 {
    color: white;
    font-family: fantasy;
    font-weight: 1000;
    font-size: 60px;
}

